// :root{
//     $--color-primary: #0062ff;
//     $--font-path: '~element-ui/lib/theme-chalk/fonts';
//     @import "~element-ui/packages/theme-chalk/src/index";
// }
// :root[theme='dark']{
//     $--color-primary: #32C5FF;
//     $--font-path: '~element-ui/lib/theme-chalk/fonts';
//     @import "~element-ui/packages/theme-chalk/src/index";
// }
.el-menu--horizontal ul {
    background: var(--board-bg-color)!important;
    min-width: 50px;
    li{
        background: var(--board-bg-color)!important;
        color: var(--main-text-color) !important;
        font-size: .729vw;
        &:hover,&.is-active{
            color: var(--force-mark-color)!important;
        }
    }
}
.el-select{
    .el-input input{
        background: var(--board-bg-color)!important;
        color: var(--main-text-color)!important;
    }
}
.el-select-dropdown{
    background: var(--board-bg-color)!important;
    border-color: black;
    li{
        font-size: 12PX;
        color: var(--search-text-color)!important;
        &:hover,&.selected{
            color: var(--force-mark-color) !important;
            background: var(--board-bg-color)!important;
            // background: inherit;
            
        }

    }
}
.el-select-dropdown__item.hover{
    background-color: var(--board-bg-color); 
    
}
.el-popper[x-placement^=bottom] .popper__arrow{
    border-bottom-color: black;
    &::after{
        border-bottom-color: var(--board-bg-color);
    }
}

.font-22{
    font-size: 22px;
}
.font-20{
    font-size: 20px;
}
.font-18{
    font-size: 18px;
}
.font-16{
    font-size: 16px;
}
.font-14{
    font-size: 14px;
}
.font-12{
    font-size: 12PX;
}
.top-40{
    margin-top: 40px;
}
.top-30{
    margin-top: 30px;
}
.top-20{
    margin-top: 20px;
}
.top-10{
    margin-top: 10px;
}
.bottom-40{
    margin-bottom: 40px;
}
.bottom-30{
    margin-bottom: 30px;
}
.bottom-20{
    margin-bottom: 20px;
}
.bottom-10{
    margin-bottom: 10px;
}
.border-bottom{
    border-bottom: 1px solid var(--border-bottom-color);
}
.el-popover{
    word-break: break-word;
    font-size:12PX;
}
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.el-loading-spinner{
    margin-top: -12PX !important;
}
.el-loading-spinner .circular{
    height: 24PX !important;
    width: 24PX !important;
}
@media (max-width: 768px) {
    .el-table__empty-block{
        font-size: 10PX;
    }
}
.circle1,.circle2{
    display: flex;
    align-items: center;
}
.circle1::before{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00ccf8;
    content: '';
    margin-right: 8px;
}
.circle2::before{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f3921b;
    content: '';
    margin-right: 8px;
}

.miner-list-con {
    .el-table {
        height: calc(100vh - 110px) !important;
    }
}
.message-list-con{
    .message-list{
        height: calc(100vh - 110px) !important;
        .table-con{
            height: calc(100% - 80px);
            .base-table{
                height: 100%;
                .el-table{
                    height: 100% !important;
                }
            }
        }
    }

}
@media (max-width: 768px) {
    
    .message-list-con{
        .message-list{
            height: calc(100vh - 80px) !important;
            .table-con{
                // height: calc(100% - 80px);
                .base-table{
                    height: 100%;
                    .el-table{
                        height: 100% !important;
                    }
                }
            }
        }
    
    }
    .miner-list-con {
        .el-table {
            height: calc(100vh - 80px) !important;
            // .el-table__body-wrapper{
            //     height: 500px !important;
            // }
            .header-row th{
                padding: 0;
            }
        }
    }
    .base-table .el-table td .cell{
        font-size: 11px !important; 
        line-height: 20px !important; 
    }
    .el-link {
      font-size: 11px !important;
    }
}
