// :root{
//     $--color-primary: #0062ff;
//     $--font-path: '~element-ui/lib/theme-chalk/fonts';
//     @import "~element-ui/packages/theme-chalk/src/index";
// }
// :root[theme='dark']{
//     $--color-primary: #32C5FF;
//     $--font-path: '~element-ui/lib/theme-chalk/fonts';
//     @import "~element-ui/packages/theme-chalk/src/index";
// }
.el-menu--horizontal ul {
    background: var(--board-bg-color)!important;
    min-width: 50px;
    li{
        background: var(--board-bg-color)!important;
        color: var(--main-text-color) !important;
        font-size: .729vw;
        &:hover,&.is-active{
            color: var(--force-mark-color)!important;
        }
    }
}
.el-select{
    .el-input input{
        background: var(--board-bg-color)!important;
        color: var(--main-text-color)!important;
    }
}
.el-select-dropdown{
    background: var(--board-bg-color)!important;
    border-color: black;
    li{
        font-size: 12PX;
        color: var(--search-text-color)!important;
        &:hover,&.selected{
            color: var(--force-mark-color) !important;
            background: var(--board-bg-color)!important;
            // background: inherit;
            
        }

    }
}
.el-select-dropdown__item.hover{
    background-color: var(--board-bg-color); 
    
}
.el-popper[x-placement^=bottom] .popper__arrow{
    border-bottom-color: black;
    &::after{
        border-bottom-color: var(--board-bg-color);
    }
}
.font-28{
    font-size: 28px; 
}
.font-22{
    font-size: 22px;
}
.font-20{
    font-size: 20px;
}
.font-18{
    font-size: 18px;
}
.font-16{
    font-size: 16px;
}
.font-14{
    font-size: 14px;
}
.font-12{
    font-size: 12PX;
}
.top-40{
    margin-top: 40px;
}
.top-30{
    margin-top: 30px;
}
.top-20{
    margin-top: 20px;
}
.top-10{
    margin-top: 10px;
}
.bottom-40{
    margin-bottom: 40px;
}
.bottom-30{
    margin-bottom: 30px;
}
.bottom-20{
    margin-bottom: 20px;
}
.bottom-10{
    margin-bottom: 10px;
}
.border-bottom{
    border-bottom: 1px solid var(--border-bottom-color);
}
.el-popover{
    word-break: break-word;
    font-size:12PX;
}
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.el-loading-spinner{
    margin-top: -12PX !important;
}
.el-loading-spinner .circular{
    height: 24PX !important;
    width: 24PX !important;
}
@media (max-width: 768px) {
    .el-table__empty-block{
        font-size: 10PX;
    }
}
.circle1,.circle2{
    display: flex;
    align-items: center;
}
.circle1::before{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00ccf8;
    content: '';
    margin-right: 8px;
}
.circle2::before{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f3921b;
    content: '';
    margin-right: 8px;
}

.miner-list-con {
    .el-table {
        height: calc(100vh - 110px) !important;
    }
}
.message-list-con{
    .message-list{
        height: calc(100vh - 110px) !important;
        .table-con{
            height: calc(100% - 80px);
            .base-table{
                height: 100%;
                .el-table{
                    height: 100% !important;
                }
            }
        }
    }

}
.el-link {
    font-size: 13px ;
    font-weight: 400;
  }

@media (max-width: 768px) {
    .el-form-item__label {
        float: inherit;
        line-height: 20PX;
    }
    .el-form-item__content{
        margin-left: 0 !important;
    }
    .address-detail .el-input input{
        line-height: 35px !important;
        height: 35px !important;
        font-size: 11px !important;
    }
    
    .message-list-con{
        .message-list{
            height: calc(100vh - 80px) !important;
            .table-con{
                // height: calc(100% - 80px);
                .base-table{
                    height: 100%;
                    .el-table{
                        height: 100% !important;
                    }
                }
            }
        }
    
    }
    .miner-list-con {
        .el-table {
            height: calc(100vh - 80px) !important;
            // .el-table__body-wrapper{
            //     height: 500px !important;
            // }
            .header-row th{
                padding: 0;
            }
        }
    }
    .base-table .el-table td .cell{
        font-size: 11px !important; 
        line-height: 20px !important; 
    }
    .el-link {
      font-size: 11px !important;
      font-weight: 400;
    }
    .el-link.underline {
        text-decoration: underline;
    }
    .el-table--mini td, .el-table--mini th{
        padding: 9px 0;
    }
}

.copy:hover{
    &::after{
      font-family: element-icons!important;
      content: "\e718";
      margin-left: 5px;
      color:#fff;
    }
}
.address-detail .el-dialog .el-dialog__body, .address-detail .el-dialog .el-dialog__footer, .address-detail .el-dialog .el-dialog__header {
    background: #0f1f2f!important;
}
.address-detail .el-dialog .el-dialog__body .el-form .el-form-item .el-form-item__label, .address-detail .el-dialog .el-dialog__header .el-dialog__title {
    color: #fff;
}
.address-detail .el-input input {
    border: none!important;
    background: var(--board-bg-color)!important;
    color: var(--main-text-color)!important;

    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}
.el-dialog{
    min-width: 360PX;
}